<mat-toolbar color="primary">
  <span>Cadastro Angular + C#</span>
</mat-toolbar>

<div class="allCenter m-top">
  <p-table #dt [value]="products" [rows]="5" [paginator]="true"
      [globalFilterFields]="['nome', 'email']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [(selection)]="selectedProducts"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="{first} / {totalRecords}"
      [showCurrentPageReport]="true">

      <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
              <p class="m-0 titulo"></p>
              <button class="botaoNovo" pButton pRipple label="Novo" (click)="openNew()"></button>
          </div>
      </ng-template>

      <ng-template pTemplate="header">
          <tr>
             <th pSortableColumn="nome" class="paddingL" style="width: 5%;">Nome</th>
             <th pSortableColumn="email" class="paddingL" style="width: 5%;">E-mail</th>
             <th style="width: 2%;">
            </th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-gridData>
        <tr>
          <td style="padding-left: 10px;">{{ gridData.nome }}</td>
          <td style="padding-left: 10px;">{{ gridData.email }}</td>
          <td style="justify-content: center; display: flex;">
            <button pButton pRipple icon="pi pi-pencil" class="botaoIconeA p-button-rounded blue" (click)="editProduct(gridData)"></button>
            <button pButton pRipple icon="pi pi-trash" class="botaoIconeV p-button-rounded warning" (click)="deleteProduct(gridData)"></button>
          </td>
        </tr>
      </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="productDialog" class="pDialog" header="Cadastro" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">

    <div>
      <mat-form-field appearance="outline" class="input45">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="gridData.nome" maxlength="60">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="input45">
      <mat-label>E-mail</mat-label>
      <input matInput [(ngModel)]="gridData.email" maxlength="60">
    </mat-form-field>

  </ng-template>

  <ng-template pTemplate="footer">
      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="cancelar" (click)="hideDialog()"></button>
      <button pButton pRipple label="Incluir" icon="pi pi-check" class="salvar" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
